<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h3{
        color: red;
        background-color: #000;
        height: 600px;
        margin: 0px;
        padding: 5px;
    }
</style>
<body>
  <h3>
      invalid password!!
      <br>
      PLEASE ENTER A VALID PASSWORD!
  </h3>

    
</body>
</html>